<%= form_with(model: visitor, local: true) do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :visitor_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :visitor_cpf %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :visitor_phone %>
  </div>

  <div class="field">
    <%= form.label :sector %>
    <%= form.text_field :sector, id: :visitor_sector %>
  </div>

  <div class="field">
    <%= form.label :usersector %>
    <%= form.text_field :usersector, id: :visitor_usersector %>
  </div>

  <div class="field">
    <%= form.label :attendant %>
    <%= form.text_field :attendant, id: :visitor_attendant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
