<%= simple_form_for visitor do |form| %>
  <% if visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6"> 
      <%= form.input :name, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :cpf, class:"form-control" %>
    </div>  
  </div>  

  <div class="form-row">
    <div class="form-group col-md-6"> 
      <%= form.input :phone, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :sector, class:"form-control" %>
    </div>  
  </div> 

  <div class="form-row">
    <div class="form-group col-md-6"> 
      <%= form.input :usersector, class:"form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.input :attendant, class:"form-control" %>
    </div>  
  </div> 

  <div class="actions">
    <%= form.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
